<a href="https://colab.research.google.com/github/lucastsena/ia/blob/master/machinelearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
% matplotlib inline 
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd

In [2]:
housing = pd.read_csv('https://raw.githubusercontent.com/gurupratap-matharu/machine-learning-regression/master/dataset/housing.csv')

In [3]:
housing.head(5)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]